/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  ========================================
  Styles
  ========================================
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: rgb(46, 45, 45);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {

  font-size: 1.8rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p,
li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

span {
  font-size: 1.3rem;
}

b {
  font-weight: 600;
}

/*
  ========================================
  Layout
  ========================================
*/

section,
div {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

section {
  padding: 5px;
}

.flex-resume {
  margin-top: 20px;
  padding: 5rem;
}

.title {
  text-align: center;
}

.container {
  margin-bottom: 1.8rem;
  width: 100%;
  display: flex;
}

.underline {
  width: 100%;
  border-bottom: 2px solid black;
}

.underline-small {
  flex-grow: 1;
  border-bottom: 1px dotted black;
  margin: 0 0.5rem;
}

.container-spread {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%
}

/*
  ========================================
  Lists
  ========================================
*/

.marked-list {
  list-style: square outside;
  margin-left: 2rem;
}

#CounterVisitor {
  text-align: center;
}

/*
  ========================================
  Layer
  ========================================
*/
p.school {
  font-weight: bold;
}

.date,
.jobtitle > span {
  font-size: 1.5rem;
  margin-bottom: 0;
}


a:visited {
  color: #0000ee;
}

a.projectLink {
  color: black;
  text-decoration: none;
}

.skills>ul {
  display: flex;
}

.skills>ul>li {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

.horizontal-list {
  display: flex;
  align-items: center;
}

.horizontal-list>li {
  margin-left: 1rem;
}

.innerTitle {
  margin-bottom: 0;
  font-weight: bold;
}

.resume-section {
  margin-bottom: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.jobtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  ========================================
  Media Query
  ========================================
*/

@media screen and (max-width: 649px) {
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  section,
  div {
    margin: 0;
    padding-bottom: 0.5rem;
  }

  li {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .flex-resume {
    padding: 1rem;
    margin: 0 auto;
  }

  .date {
    font-size: 1.1rem;
  }

  .jobtitle {
    font-size: 1.3rem;
  }

  .skills>ul {
    display: flex;
    flex-wrap: wrap
  }

  .horizontal-list {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .underline-small {
    border: none;
  }

  .container {
    margin-bottom: .3rem;
  }

  #work-experience .container-spread {
    align-items: start;
    flex-direction: column;
  }

  .container-spread {
    margin-bottom: .5rem;
  }

  .title {
    margin-bottom: 0;
  }

}

@media (max-width: 1000px) and (min-width: 650px) {
  .flex-resume {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .date {
    font-size: 1.2rem;
  }

  .horizontal-list {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .horizontal-list>li {
    font-size: 1.5rem;
    margin: .5rem 1rem;
  }

  .skills>ul>li.innerTitle {
    font-size: 1.4rem;
  }

  .skills>ul>li {
    font-size: 1.2rem;
  }

}

@media print {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .flex-resume {
    margin-top: 10px;
    padding: 2.5rem;
  }
  .skills>ul>li {
    font-size: 1.5rem;
  }
  .underline-small {
    border: none;
  }
}