/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  ========================================
  Styles
  ========================================
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: rgb(46, 45, 45);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;

}

h2 {
  font-size: 2.2rem;
}

h3 {

  font-size: 1.8rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p,
li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

span {
  font-size: 1.3rem;
}

/*
  ========================================
  Layout
  ========================================
*/

section,
div {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

section {
  padding: 5px;
}

.flex-resume {
  margin-top: 20px;
}

.flex-resume {
  padding: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

.flex-1,
.flex-2,
.flex-3 {
  margin: 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.flex-1,
.flex-3 {
  flex-basis: 30%;
}

.flex-2 {
  flex: 1;
  order: -1;
  flex-basis: 50%;
}

.container {
  margin-bottom: 1.8rem;
  width: 100%;
  display: flex;
}

.underline {
  width: 100%;
  border-bottom: 2px solid black;
}

.underline-small {
  flex-grow: 1;
  border-bottom: 1px dotted black;
  margin: 0 0.5rem;
}

.container-spread {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width:100%
}

/*
  ========================================
  Lists
  ========================================
*/

.marked-list {
  list-style: square outside;
  margin-left: 2rem;
}

#CounterVisitor {
  text-align: center;
}

/*
  ========================================
  Layer
  ========================================
*/

.date,
.jobtitle {
  color: rgba(30, 30, 200);
  font-size: 1.5rem;
  margin-bottom: 0;
}


.jobtitle{
  margin-bottom: 1rem;
}

a:visited {
  color: #0000ee;
}

a.projectLink {
  color: black;
  text-decoration: none;
}

.skills > ul {
  display: flex;
}

.skills > ul > li {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

.horizontal-list {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.horizontal-list > li {
  margin-left: 1rem;
}

.innerTitle {
  margin-bottom: 0;
  font-weight: bold;
}

.resume-section {
  margin-bottom: 1.5rem;
}

/*
  ========================================
  Media Query
  ========================================
*/

@media screen and (max-width: 649px) {
  .flex-1,
  .flex-2,
  .flex-3 {
    flex-basis: 100%;
  }

  .flex-1 {
    order: -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }

  .flex-1 > div {
    margin-right: 1rem;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #certifications,
  #education {
    display: none;
  }

  section,
  div {
    margin: 0;
    padding-bottom: 0.5rem;
  }
  li {
    font-size: 1.15rem;
  }
}

@media (max-width: 1000px) and (min-width: 650px) {
  .flex-resume {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .flex-2 {
    flex-basis: 60%;
  }
}
